/node_modules/
/www/
/.idea/
/.env
/db.sqlite3
/package-lock.json
/projects/builds/
/data_webdav/
/djangodav-python3/
/data
/playground.py
/data_webdav_old/
/sdc_manager/
/elnFiletransfer.db.sqlite3
/small.db.sqlite3
/bin/efw
