.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #DAD9D3bb;
    z-index: 10140;
    text-align: center;
    padding-top: 45vh;
    display: none;
}