{% load i18n %}
<div class="uml-node menu-handler {{ elm.token }}" data-related="{{ elm.gat_all_related }}" data-menu=".uml-menu-node" data-token="{{ elm.token }}" style="left: {{ elm.x }}px; top: {{ elm.y }}px;">
    <div class="node-header text-container">
        <h4>{{ elm.label }}</h4>
    </div>
    <div class="node-segment-container">
        {% for segment in elm.segments.all %}
        <div class="node-segment menu-handler" data-menu=".uml-menu-Segment">
            <div class="segment-header text-container">
                <h4>{{ segment.label }}</h4>
            </div>
            {% for layer in segment.layers.all %}
            <div class="segment-layer menu-handler" data-menu=".uml-menu-Layer">
                <div class="layer-header text-container">
                    <h4>{{ layer.label }}</h4>
                </div>
                <div class="layer-body text-container list-text">
                    <ul>
                        {% for field in layer.get_layers %}
                            <li>{{field.label}}:{{field.type}}</li>
                            {% if field.type == 'table' %}
                                <ul class="table-list">
                                    {% for sub_field in field.sub_fields.all %}
                                        <li>{{sub_field.label}}:{{sub_field.type}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>