{% load i18n %}
<div class="uml-node menu-handler" data-menu=".uml-menu-node">
    <div class="node-header text-container">
        <h4>{% trans 'New Element' %}</h4>
    </div>
    <div class="node-segment-container">
        <div class="node-segment menu-handler" data-menu=".uml-menu-Segment">
            <div class="segment-header text-container">
                <h4>{% trans 'New Segment' %}</h4>
            </div>
            <div class="segment-layer menu-handler" data-menu=".uml-menu-Layer">
                <div class="layer-header text-container">
                    <h4>{% trans 'New Layer' %}</h4>
                </div>
                <div class="layer-body text-container list-text">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
</div>