{% load i18n %}

<tr class="item-row-{{ registered_user.pk }}">
    <th scope="row">{{ registered_user.username }}</th>
    <td>{{ registered_user.first_name }}</td>
    <td>{{ registered_user.last_name }}</td>
    <td {% if not registered_user.is_email_confirmed %}class="not-confirmed" data-toggle="tooltip"
        data-placement="right"
        title="{% trans 'The email has not been confirmed!' %}"{% endif %}>{{ registered_user.email }}</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            {% if not registered_user.is_superuser %}
                <form class="ajax-form" method="post" action="{% url 'scd_view_admin_user' %}">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="api">
                    <input type="hidden" name="_action" value="activate">
                    <input type="hidden" name="pk" value="{{ registered_user.pk }}">
                    {% if registered_user.is_active %}
                        <button class="btn btn-success btn-activate-user" data-toggle="tooltip" data-placement="left"
                                title="{% trans 'Deactivate User!' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor"
                                 class="bi bi-unlock" viewBox="0 0 16 16">
                                <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z"/>
                            </svg>
                        </button>
                    {% else %}
                        <button class="btn btn-danger btn-activate-user" data-toggle="tooltip" data-placement="left"
                                title="{% trans 'Activate User!' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor"
                                 class="bi bi-lock" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                            </svg>
                        </button>
                    {% endif %}
                </form>

                <form class="ajax-form" method="post" action="{% url 'scd_view_admin_user' %}">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="api">
                    <input type="hidden" name="_action" value="set_staff">
                    <input type="hidden" name="pk" value="{{ registered_user.pk }}">
                    {% if registered_user.is_staff %}
                        <button class="btn btn-success btn-activate-user" data-toggle="tooltip" data-placement="left"
                                title="{% trans 'Remove admin status!' %}">
                            <i class="bi bi-person-video2"></i>
                        </button>
                    {% else %}
                        <button class="btn btn-danger btn-activate-user" data-toggle="tooltip" data-placement="left"
                                title="{% trans 'Activate admin status!' %}">
                            <i class="bi bi-person-video2"></i>
                        </button>
                    {% endif %}
                </form>
            {% else %}
                <div class="btn btn-info">
                    {% trans 'Superuser' %}
                </div>
            {% endif %}
            <a href="{% url 'sdc_index' %}~admin-main-view~admin-user~admin-edit-user~&user_pk={{ registered_user.pk }}"
               class="navigation-links btn btn-info" data-toggle="tooltip" data-placement="left"
               title="{% trans 'Edit User!' %}">
                <i class="bi bi-person-lines-fill"></i>
            </a>
        </div>
    </td>
</tr>