{% load i18n %}
{% load indexfilter %}

<div>
    <div class="search-view-container">
        <search-controller
                data-range-size="{{ range_size }}"
                data-range-start="{{ range|indexfilter:0 }}"
                data-range-end="{{ range|indexfilter:1 }}"
                data-total-count="{{ total_count }}"
                data-remove-labels="true"
                data-url="'{% url 'scd_view_efw_list' %}'">
            {% csrf_token %}
            {% include "elements/inline_form.html" with form=search_form %}
        </search-controller>
    </div>
<br>
    <div class="add-btn-group">
    <a class="navigation-links btn btn-success add-btn" href=".~efw-new~&type=instance" data-toggle="tooltip" data-placement="left" title="{% trans 'Create new EFW using external WebDAV!' %}">
        <i class="bi bi-cloud-plus"></i>
    </a>
        <a class="navigation-links btn btn-success add-btn" href=".~efw-new~&type=local" data-toggle="tooltip" data-placement="left" title="{% trans 'Create new EFW using local WebDAV!' %}">
            <i class="bi bi-server"></i>
        </a>
    </div>
<div class="alert alert-warning">
    {% trans 'The download may take a few minutes of preparation, because the repository may still have to be cloned and the prjoject must be compiled with the entered parameters.' %}
</div>
    <br>
    <table class="list-container table">
        <thead>
        <tr>
            <th scope="col">{% trans "Name." %}</th>
            <th scope="col">{% trans "Type" %}</th>
            <th scope="col">{% trans "Transfer" %}</th>
            <th scope="col">{% trans "Destination" %}</th>
            <th scope="col">{% trans "System architecture" %}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for elem in instances %}
            {% include "Dashboard/elements/efw_row.html" with elem=elem %}
        {% endfor %}
        </tbody>
    </table>
<div class="delete-dialog-container">


    <div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteItemModalLabel">Are you sure?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to delete <span style="font-weight: bold" class="item_name"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form class="ajax-form" action="{% url 'scd_view_efw_list' %}" method="post" >
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="api">
                        <input type="hidden" name="_action" value="del">
                        <input class="id_field" type="hidden" name="id" value="">
                        <button class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>