{% extends "elements/dashboard.html" %}

{% load i18n %}

{% block sidebar %}
    <ul class="btn-layer">
        <li>
            <a class="navigation-links" href="{% url 'sdc_index' %}~main-view~basic-info">
                {% trans 'Short Documentation' %}
            </a>
        </li>
        <li>
            <a class="navigation-links" href="{% url 'sdc_index' %}~main-view~efw-list">
                {% trans 'EFW List' %}
            </a>
        </li>
        <li>
            <a class="navigation-links" href="{% url 'sdc_index' %}~main-view~file-tree">
                {% trans 'WebDAV Files' %}
            </a>
        </li>
        <li>
            <a class="navigation-links" href="{% url 'sdc_index' %}~main-view~git-list">
                {% trans 'Git Repos.' %}
            </a>
        </li>
        <!--li>
            <a class="navigation-links" href="{% url 'sdc_index' %}~main-view~eln-manager">
                {% trans 'Manage ELN connection' %}
            </a>
        </li-->
    </ul>
{% endblock %}

{% block default-controller %}basic-info{% endblock  %}