{% load i18n %}

<div>
    <h5 class="uml-header">{% trans 'Diagram' %}: {{ uml.name }}</h5>
    <form  class="ajax-form save-json-form" method="post" action="{% url 'scd_view_uml_editor' dia_pk=uml.pk %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="api">
        <input type="hidden" class="json-input" name="json" value="">
    </form>
    <div class="btn-row">
        <div class="btn-group" role="group" aria-label="Uml Menu">

            <button data-toggle="tooltip" title="{% trans 'Save diagram' %}" class="btn btn-dark btn-save"><i class="bi bi-save"></i></button>
            <button data-toggle="tooltip" title="{% trans 'Download as JSON' %}"  class="btn btn-dark btn-download"><i class="bi bi-download"></i></button>
            <button data-toggle="tooltip" title="{% trans 'Upload JSON' %}"  class="btn btn-dark btn-upnload"><i class="bi bi-upload"></i></button>
        </div>
        <button data-toggle="tooltip" title="{% trans 'Help and Information' %}" class="btn btn-info btn-save"><i class="bi bi-info-square"></i></button>
    </div>
    <div class="dummy-node">
        {% include 'Dashboard/elements/uml_node_dummy.html' %}
    </div>


    <div class="uml-canvas menu-handler" data-uml_pk={{ uml.pk }} data-menu=".uml-menu-canvas">
        <canvas class="background-canvas"></canvas>
        <div class="uml-node-container"> <!-- style="border: 2px solid; transform: scale(0.5)" -->
            {% for elm in uml.elements.all %}
                {% include 'Dashboard/elements/uml_node.html' with elm=elm %}
            {% endfor %}
        </div>

        <div class="uml-menu uml-menu-canvas">
            <div class="uml-menu-position"></div>
            <div class="btn-container">
                <button class="btn btn-dark">{% trans 'Add new Element' %}</button>
            </div>
        </div>

        <div class="uml-menu uml-menu-node">
            <div class="uml-menu-position"></div>
            <div class="btn-container">
                <button class="btn btn-dark btn-add-segment">{% trans 'Add Segment' %}</button>
                <button class="btn btn-dark add-relation">{% trans 'Add hereditary relationship' %}</button>
                <button class="btn btn-dark btn-edit-elem-header">{% trans 'Edit Element header' %}</button>
                <button class="btn btn-danger btn-rm-element">{% trans 'Remove Element' %}</button>
            </div>
        </div>

        <div class="uml-menu uml-menu-Segment">
            <div class="uml-menu-position"></div>
            <div class="btn-container">
                <button class="btn btn-dark btn-add-layer">{% trans 'Add Layer' %}</button>
                <button class="btn btn-dark btn-edit-segment-header">{% trans 'Edit Segment header' %}</button>
                <button class="btn btn-danger btn-rm-segment">{% trans 'Remove Segment' %}</button>
            </div>
        </div>

        <div class="uml-menu uml-menu-Layer">
            <div class="uml-menu-position"></div>
            <div class="btn-container">
                <button class="btn btn-dark btn-edit-layer-header">{% trans 'Edit Layer header' %}</button>
                <button class="btn btn-danger btn-rm-layer">{% trans 'Remove Layer' %}</button>
            </div>
        </div>
    </div>
</div>
