{% load i18n %}

<button class="btn btn-outline-dark collapse-btn" type="button" >
    {% trans 'Menu'%} <i class="bi bi-arrow-down-square"></i>
</button>

<div class="movable-flex  main-view-flex-container h">



    <div data-target="#flex-elem-right-btn" id="flex-elem-left" class="movable-flex-item drag-ground" style="flex: 1;">
        {% block sidebar %}{% endblock %}
    </div>
    <div class="movable-flex-resizer resizer"></div>

    <div class="movable-flex-item" style="flex: 3;">
        <div class="sub-page-container" data-default-controller="{% block default-controller %}{% endblock  %}">
        </div>
    </div>


</div>
<div class="footer-menu-dummy">

</div>
