{% extends "elements/dashboard.html" %}
{% load i18n %}

{% block sidebar %}
    <ul class="btn-layer">
        <li>
            <a class="navigation-links" href="{% url 'sdc_index' %}~admin-main-view~admin-user">
                {% trans 'User' %}
            </a>
        </li>
        <li>
            <a class="navigation-links" href="{% url 'sdc_index' %}~admin-main-view~git-list">
                {% trans 'Git Repos.' %}
            </a>
        </li>
        <li>
            <a class="navigation-links" href="{% url 'sdc_index' %}~admin-main-view~eln-manager">
                {% trans 'Manage ELN connection' %}
            </a>
        </li>
    </ul>
{% endblock %}